<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819493082482-b7col62bod52hbc7ca162mnt1qdddlfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819493082482-b7col62bod52hbc7ca162mnt1qdddlfo</string>
	<key>API_KEY</key>
	<string>AIzaSyD1OMlFFM1EwDaIHiJk1duJY95XY7vqNDA</string>
	<key>GCM_SENDER_ID</key>
	<string>819493082482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-6875c</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-6875c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819493082482:ios:541577c5f4736c3b22f9eb</string>
</dict>
</plist>